@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f1f1f1;
    color: #0f141e;

    /*font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif; */

    font: normal 16px 'Roboto', sans-serif;
}

.avatar {
    width: 250px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    text-decoration: none;
    /* text-transform: uppercase; */
    /* letter-spacing: 5px; */
    /* word-spacing: 30px; */
}

            /* Box Model */
.container {
    max-width: 750px;
    margin: auto;

}

.social {
    background: lavender;

    padding: 15px;
    /*padding: 15px 20px 25px 30px;*/

    border: 5px solid red;
    border-bottom-style: dotted;
    border-top-width: 15px;

    margin-top: 20px;
    margin-right: 25px;
    margin-bottom: 30px;
    margin-left: 25px;
}

.box-model > div {
    background: #000;
    height: 200px;
    width: 25%;

}